@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
/* Fredoka */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato',sans-serif;
}



/* NAV */
nav{
    display: flex;
    padding-left: 100px;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.nav__logo{
    max-width: 150px;
    width: 100%;
    height: auto;
    margin-right: 100px;
}
.pages{
    display: flex;
    list-style: none;
    font-size: 21px;
    gap: 50px;
}
.pages li:first-child{
    color: #FE5E35;
    font-weight: 900;
    font-size: 23px;
}
.profile svg{
    display: none;
    width: 20px;
    margin-right: 100px;
}
/* NAV END */


/* HERO */
/* MAIN */
main{
    display: flex;
    justify-content: space-between;
}
/* MAIN END */
/* LEFT */
.left{
    margin-top: 150px;
    margin-left: 100px;
}
.left h1{
    font-family: 'Fredoka',sans-serif;
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 50px;
}
.left h2{
    font-size: 45px;
    margin-bottom: 20px;
}
.left h2 img{
    max-width: 45px;
}
.features{
    list-style: none;
    margin-left: 100px;
    font-size: 25px;
    line-height: 60px;
    margin-bottom: 55px;
}
.features li::before{
    content: url('../images/plus.svg');
    background-color: #FE5E35;
    border-radius: 50%;
    padding: 0 5px;
    margin-right: 20px;
    width: 20px;
    height: 20px;
}
.left h4{
    font-size: 20px;
    font-weight: 300;
    color: grey;
    max-width: 850px;
    margin-bottom: 40px;
}
.btn__section{
    display: flex;
    gap: 50px;
}
.left button, .right button{
    padding: 15px 30px;
    font-size: 25px;
    color: white;
    background-color: #FE5E35;
    border: none;
    border-radius: 50px;
}
/* LEFT END */



/* RIGHT */
.right{
    margin-right: 100px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right button{
    margin-top: 30px;
}
.headphone__colors{
    display: flex;
    gap: 40px;
}
.color1{
    background-color: #FBD104;
    padding: 15px;
    border-radius: 50px;
}
.color2{
    background-color: #FE5E35;
    padding: 15px;
    border-radius: 50px;
}
.color3{
    background-color: black;
    padding: 15px;
    border-radius: 50px;
}
/* DISCOUNT */
.headphones{
    position: relative;
}
.headphone__discount{
    position: relative;
}
.discount__inner__layer{
    position: absolute;
    display: flex;
    top: 23%;
    color: white;
    font-family: 'Fredoka',sans-serif;
    left: 20%;
    flex-direction: column;
    justify-content: center;
    line-height: 35px;
    align-items: center;
}
.discount__inner__layer h5{
    font-size: 17px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    font-family: 'fredoka',sans-serif;
}
.discount__inner__layer h6{
    font-size: 65px;
    font-weight: 900;
    margin-top: 0;
    padding-top: 0;
    font-family: 'fredoka',sans-serif;
}
.discount__toplayer{
    position: absolute;
    bottom: 15%;
    left: -3vw;
}
/* RIGHT END */
/* HERO END */
@media only screen and (max-width:1460px){
    main{
        flex-direction: column-reverse;
    }
    .right{
        margin-right: 0;
    }
    .profile svg{
        display: inline-flex;
    }
    .profile img{
        display: none;
    }
    .pages{
        display: none;
    }
    .left button{
        margin-bottom: 50px;
    }
    nav{
        margin: auto;
        margin-left: 0;
        padding-top: 50px;
        padding-left: 30px;
    }
}
@media only screen and (max-width:1040px){
    .left h1{
        font-size: 50px;
    }
    .left h2{
        font-size: 30px;
    }
    .features li{
        font-size: 20px;
    }
    .left h4{
        font-size: 16px;
    }
    .btn__section button,.right button{
        padding: 10px 25px;
        font-size: 15px;
    }
    .left{
        margin-left: 50px;
    }
}


/* MEDIA QUERIES */

/* MEDIA QUERIES END*/